* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button,
input {
  font-family: $rubik, $intro, 'Helvetica', 'Arial', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}
