@import 'mixins/mixins';
@import 'variables/variables';

.about-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.about-content {
  position: relative;
  z-index: 1;
  height: 100%;
  @include flex(column, center, center);
}

.about__hello {
  @include flex(row, flex-start, center, nowrap);
}
.about__additional {
  margin-top: 80px;
}
.avatar {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 230px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.about__description {
  max-width: 540px;
}

.description__name {
  color: $white;
  font-weight: bold;
  font-size: 48px;
  margin-top: 32px;
  margin-bottom: 48px;
}
.description__greetings,
.description__text,
.additional__text {
  color: $white;
  opacity: 0.73;
  font-weight: 300;
  line-height: 200%;
}

.about__additional {
  @include flex(row, flex-start, flex-start, nowrap);
}

.stats__list {
  margin-right: 230px;
}

.list__item {
  color: $white;
  font-size: 18px;
  width: 320px;
  margin-bottom: 24px;
}

.list-item__label {
  display: inline-block;
  opacity: 0.6;
  font-weight: 300;
  width: 95px;
  margin-right: 80px;

  &::after {
    content: ':';
  }
}

.list-item__stat {
  font-weight: bold;
}

.additional__text {
  display: inline-block;
  max-width: 540px;
}
